---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Profile from '../components/Profile.astro';
import Picture from '../components/Picture.astro';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="Studious Dev"
      description="Learnings of web dev from my studies"
    />
  </head>
  <body>
    <div class="container">
      <Header title="Studious Dev" />
      <Profile />
      <main>
        <section>
          <ul class="blogpost-list" role="list">
            {
              posts.map((post) => (
                <li>
                  <img
                    alt=""
                    class="image-post"
                    src={post.frontmatter.heroImage}
                  />
                  <div>
                    <h2 class="post-title">
                      <a href={post.url}>{post.frontmatter.title}</a>
                    </h2>
                    <time datetime={post.frontmatter.pubDate}>
                      {new Date(post.frontmatter.pubDate).toLocaleDateString(
                        'en-us',
                        {
                          year: 'numeric',
                          month: 'short',
                          day: 'numeric',
                        }
                      )}
                    </time>
                    <p>{post.frontmatter.description}</p>
                  </div>
                </li>
              ))
            }
          </ul>
        </section>
      </main>
      <Footer />
    </div>
  </body>
</html>
